API_HASH="6a9708cc05dc4381a98fb307244589f5"
API_ID="38449596"
BOT_TOKEN="8733647216:AAFQuXgd3A74Z36aCIFDyhR6q_5It06xzi0"
LOG_GROUP_ID="-1003710487004"
MONGO_DB_URI="mongodb+srv://zyrodevx2_db_user:3Egc7VpSI50jJ1ak@shnwaz.5hbsbls.mongodb.net/?appName=shnwaz"
OWNER_ID="8206476526"
STRING_SESSION="BQJKsbwAA2DMoaAZ7wn8WfBBglGOTgtV60n3mLuaOE2zbs4lD7tlEDHRnU6bOZLhubcxNYomWqsdC8S3q-Az_5UbsW1FCfWV0E55pOTDckQTp31LqqplP5FDHe1GFJjfwMgJMiJyh3DjLxdpyZSoLl4rbKY7joz741K-EbgfvaI42Xv2CvNl-xp60FZkkscnnHX3MOpEzA7O6eQQr-XXhzpOBC-IsO13XjZ8YbXBmAut9LNYxgOTUsnXMwCHET0bHesw8rFSITicEGOhNCZHrxO3_SoYREmCX6NrgfJg5_rp9qJLwOQiL970t3rWgybrlXSIrCvHFwvx8cFS12ij2vAtiuDo0QAAAAH7HwQgAA"
